<div class="alsoread">
  <p><strong>Popular posts about deploying Rails apps</strong></p>
  <p>
    <a href="/2013/09/using-chef-to-provision-a-rails-and-postgres-server/">
      How to quickly provision a VPS for Rails using Chef
    </a>
    <br/>
    <a href="/2014/01/deploying-rails-apps-to-a-vps-with-capistrano-v3/">
      Deploying with Capistrano 3
    </a>
    <br/>
    <a href="/2013/12/tailing-log-files-with-capistrano-3/">
      Tailing log files with Capistrano 3
    </a>
    <br/>
    <a href="/2013/10/using-vagrant-to-test-chef-cookbooks/">
      Using Vagrant to test Chef Cookbooks
    </a>
    <br/>
    <a href="/2013/11/deploying-multiple-rails-apps-to-a-single-vps/">
      Deploying with Capistrano 2
    </a>
  </p>
</div>