<!-- If we want to display author's name and bio -->
{% if site.author %}
    <section class="author">
      <header> <a href="{{ site.baseurl }}"> <img class="profile" src="/assets/images/profile.png" alt="Author's profile picture"></a></header>
      <article>
        <!-- Author Name -->
          <h4> {{ site.author }} </h4>
          <!-- Author Bio -->
          <p> 
          I'm a Rails Developer, lover of good coffee and making things. I'm the author of <a href="https://leanpub.com/deploying_rails_applications" target="_blank">Reliably Deploying Rails Applications</a>, currently based in Paris and originally from London. <a href= "http://www.twitter.com/talkingquickly" target="_blank">@talkingquickly</a> on twitter.
          </p>
        </article>
    </section>                
{% endif %}
