<section class="book">
  <header>
    <a href="https://leanpub.com/deploying_rails_applications?utm_campaign=tlq_blog&utm_medium=referral&utm_source=footer_image">
      <img
      src="/assets/images/deploying_rails_applications_cover.jpeg"
      />
    </a>
  </header>
  <article>
    <h4>Reliably Deploying Rails Applications Book</h4>
    <p>My book, Reliably Deploying Rails Applications covers every step of the deployment
    process from setting up a VPS from scratch with Chef, to deploying
    and day to day maintenance with Capistrano 3.</p>
    <p><a
      href="https://leanpub.com/deploying_rails_applications?utm_campaign=tlq_blog&utm_medium=referral&utm_source=footer"
      target="_blank">You
      can purchase it from leanpub here</a> or enter your email below to
    read a sample chapter.</p>
    <div id="mc_embed_signup">
<form action="http://hillsbede.us5.list-manage.com/subscribe/post?u=68b84d48aa7cec1155bee1a0c&amp;id=73f32eb74a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate="">
  
  <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="height:28px;padding: 0 10px 0 10px;">

<input type="submit" value="Get the sample chapter" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #aaa;border: 0 none;border-radius: 4px;color: #FFFFFF;display: inline-block;font-size: 15px;font-weight: bold;height: 32px;line-height: 32px;margin: 0 5px 10px 10px;padding: 0 10px 0 10px;text-align: center;text-decoration: none;vertical-align: top;white-space: nowrap;width: auto;">
</form>
</div>
  
  </article>
</section>
